.player1, .player2,.moves_container {
    color: white;
}
.notation {
    display: flex;
    flex-wrap: wrap;
}
.rating1 span  {
    font-size: 15px;
}
.rating2 span {
    font-size: 15px;
}
.time, .time1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #cdcdcd;
}
.piecesPoints1 {
    position: absolute;
    top: 10%;
    left: 26%;
    width: inherit
}
.piecesPoints2 {
    position: absolute;
    bottom: 0%;
    left: 26%;
}
.colon {
    margin-bottom: 9px;
}
.time, .time1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 25px;
}
.rating1, .rating2 {
    font-size: 20px;
    font-weight: 700;
}
.name1, .name2 {
    font-size: 30px;
    font-weight: 700;
}
.nameTag {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 25px;
}
.turn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 140px;
    font-size: 28px;
    font-weight: 700;
    position: fixed;
    height: 50px;
    width: 410px;
    color: #cdcdcd;
}
.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cont {
    display: flex;
    flex-direction: column;
}
.move {
    display: flex;
    gap: 30px;
    width: 50%;
}
.showMove{
    position: absolute;
    top:0%;
    left: 0%;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    height: 100vh;
    width: 470px;
}
.points {
    width: 24px;
    height: 25px;
}
.changeTurn {
    opacity: 0.5;
}
.moveName1 {
    width: 100px;
}
.moveName1,.moveName2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.moveNumber {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 20px;
    color: rgb(45, 52, 45);
    width: 40px;
}
.gap {
    height: 50px;
}
.move_gap {
    display: flex;
    gap: 120px;
}
.moves_container {
    height: 68.5vh;
    overflow-y: scroll;
}
.player1, .player2 {
    height: 13vh;
    display: flex;
    align-items: center;
    margin-left: 10px;
    display: flex;
    gap: 23px;
}
.profile1, .profile2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 10vh;
    height: 10vh;
    background: red;
    object-fit: cover;
    border-radius: 100px;
}
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background: rgb(52, 53, 51);
}
::-webkit-scrollbar-thumb {
    background: #fef4f4; 
}
@media (max-width : 700px) {
    .moves_container, .turn, hr{
        display: none;
    }
    .showMove {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 150px;
        width: 100vw;
    }
    .player1,.player2 {
        margin: 0px 50px 0px 0px; 
    }
    .profile1,.profile2 {
        height: 60px;
        width: 60px;
    }
    .time, .time1 {
        font-size: 35px;
    }
    .name2,.rating1,.rating2 {
        font-size: 20px;
    }
}