.home {
    height: 100vh;
    width: 100vw;   
    display: flex;
    justify-content: center;
    align-items: center;
	background-image: linear-gradient( rgb(48, 93, 83),rgb(116, 138, 112));
}
.chess {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}