dialog {
	left: 39.5%;
	top: 4%;
	border-radius: 10px;
	background: rgb(136, 179, 141);
	z-index: 10;
}
.up {
	animation: show 200ms ease-in-out;
}
.down {
	animation: identifier 200ms ease-in-out;
}
img {
	height: 100px;
	width: 100px;
}

@keyframes show {
	0% {
		transform: translateY(-200px);
	}
}
@keyframes identifier {
	0% {
		transform: translateY(200px);
	}
}