.outPieces {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: -300px;
}
.blpiece, .whpiece {
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 415px;
    width: 250px;
    margin-left: 20px;

    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.44);
} 
.blpiece {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.whpiece {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-auto-flow: row;
    direction: rtl;
    transform: rotate(180deg);
}
.blImg, .whImg {
    height: 80px;
    width: 80px;
}
.whImg {
    transform: rotate(180deg);
}
@media (max-width: 800px) {
    .outPieces {
        display: none;
    }
}