.Login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #cdcdcd;
}
.Login h1 {
    font-size: 35px;
}
.Login input {
    width: 360px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
    font-family: sans-serif;
    font-size: 17px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #cdcdcd;
}
.JoinRoom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.JoinRoom input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
}
#button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-family: sans-serif;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: -3px;
    color: #cdcdcd;
    visibility: hidden;
}
.search img {
    width: 30px;
    height: 30px;
}

#button:disabled {
    cursor: not-allowed;
}