* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--cell-size: 100px;
}
body {
	overflow: hidden;
	font-family: sans-serif;
	position: fixed;
}
.drag {
	height: var(--cell-size);
	width: var(--cell-size);
	cursor: pointer;
}
img:hover {
	scale: 1.07;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: end;
	color: white;
	margin-right: 5px;
	font-weight: 600;
}
.white, .black {
	height: var(--cell-size);
	width: var(--cell-size);
	display: flex;
	justify-content: center;
	align-items: center;
}
.white {
	background: rgb(118,150,86);
}
.black {
	background: rgb(238,238,210);
}
.green {
	height: var(--cell-size);
	width: var(--cell-size);
	background: radial-gradient(rgb(12, 13, 13) 25%, transparent 0%);
	opacity: 0.3;
}
.red {
	height: var(--cell-size);
	width: var(--cell-size);
	background: rgb(221, 102, 38) !important;
}
.check {
	background: rgb(207, 62, 62);
}
.rows {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.select,.over {
	background-color: rgb(186,202,43);
}
.selWhite {
	background: rgb(246,246,104);
}
.chessboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.border {
	padding: 7px;
	border: 12px solid rgb(182, 194, 190);
	border-radius: 10px;
	position: relative;
}
.idx {
	height: var(--cell-size);
	position: absolute;
	right: 97.5%;
	font-weight: 600;
	color: black;
}
.alpha2 {
	position: absolute;
	top: 96.8%;
	color: black;
}
.rotate {
	transform: rotate(180deg);
}
.rotate .idx {
	right: 1.2%;
	z-index: 100;
}
.rotate .container {
	position: absolute;
	bottom: 96.8%;
	margin: 0px 5px;
}
@media screen and (max-width: 700px) {
	:root {
		--cell-size: 45px;
	}
	.border {
		padding: 3px;
		border: 6px solid rgb(182, 194, 190);
		border-radius: 5px;
	}
	.idx, .alpha2 {
		font-size: 8px;
	}
}

@media screen and (max-width: 500px) {
	:root {
		--cell-size: 40px;
	}
}