* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
	font-family: sans-serif;
	background: rgb(84, 84, 83);
	position: fixed;
}
img {
	height: 100px;
	width: 100px;
	cursor: pointer;
}
img:hover {
	scale: 1.07;
}
.reset {
    margin-top: 5px;
	border-radius: 10px;
	border: 2px solid black;
	background: rgb(238,238,210);
	width: 200px;
	height: 50px;
    font-size: 25px;
    font-weight: 600;
}
.reset:hover {
    background: rgb(118,150,86);
    cursor: pointer;
    transition: 0.2s;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: end;
	color: white;
	margin-right: 5px;
	font-weight: 600;
}
.white, .black {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.white {
	background: rgb(118,150,86);
}
.black {
	background: rgb(238,238,210);
}
.green {
	height: 100px;
	width: 100px;
	background: radial-gradient(rgb(12, 13, 13) 25%, transparent 0%);
	opacity: 0.3;
}
.red {
	height: 100px;
	width: 100px;
	background: rgb(221, 102, 38) !important;
}
.check {
	background: rgb(207, 62, 62);
}
.rows {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.select,.over {
	background-color: rgb(186,202,43);
}
.selWhite {
	background: rgb(246,246,104);
}
.chessboard {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.border {
	border: 12px solid black;
	border-radius: 10px;	
	position: relative;
}
.idx {
	height: 100px;
	position: absolute;
	right: 98.5%;
	font-weight: 600;
	color: black;
}
.alpha2 {
	position: absolute;
	top: 97.8%;
	color: black;
}