* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	overflow: hidden;
}
img {
	height: 100px;
	width: 100px;
}
.white, .black {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.white {
	background: rgb(118,150,86);
}
.black {
	background: rgb(238,238,210);
}
.green {
	background: radial-gradient(rgba(43, 209, 201, 1)10%, rgba(232, 226, 226, 0.891) 20%);
}
.red {
	background: rgb(255, 0, 0);
}
.hold {
	opacity: 0;
}
.rows {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.chessboard {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.border {
	border: 17px solid rgb(127, 129, 129);
	border-radius: 10px;	
	position: relative;
}
.idx, .idx1 {
	height: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.col1, .col2 {
	color: white;
}
.idx {
	position: absolute;
	right: 100.5%;
}
.idx1 {
	position: absolute;
	left: 100.5%;
}
.alpha-border {
	width: 100px;
	text-align: center;
}
.col1 {
	display: flex;
	position: absolute;
	top: 6.6%;
	z-index: 1;
}
.col2 {
	display: flex;
	position: absolute;
	bottom: 6.6%;
	z-index: 1;
}
.reset {
	right: 5%;
	position: absolute;
    margin-top: 80px;
	border-radius: 10px;
	border: 2px solid black;
	background: rgb(238,238,210);
	width: 405px;
	height: 50px;
    font-size: 25px;
    font-weight: 600;
	font-family: sans-serif;
}